<div class="link-wrapper-mobile">
    <ul class="link">
      <li><a href="https://mailhide.io/e/rACA5ywK" target="_blank"><i class="fa fa-envelope"></i> Email</a></li>
      <li><a href="https://scholar.google.com/citations?user=NFAlsNoAAAAJ" target="_blank"><i class="fas fa-user-graduate"></i> Google Scholar</a></li>
      <li><a href="https://github.com/hcikim" target="_blank"><i class="fab fa-github"></i> GitHub</a></li>
      <li><a href="https://twitter.com/taewook_cs" target="_blank"><i class="fab fa-twitter"></i> Twitter</a></li>
      <!-- <li><a href=""><i class="fab fa-linkedin-in"></i> Linkedin</a></li> -->
      <!-- <li><a href=""><i class="far fa-bookmark"></i> Project Repository</a></li> -->
    </ul>
</div>