---
layout: default
---

{%- if page.title -%}
<h1 class="page-heading">{{ page.title }}</h1>
{%- endif -%}

{{ content }}

{%- if site.posts.size > 0 -%}
<ul class="posts">
  <div class="post">
    <li>
      <h1 id="posts-label">Introduction</h1>

      <p>Taewook (Tommy) Kim is a M.Phil student in the <a href="http://hci.cse.ust.hk/" target="_blank">HCI Initiative</a> at <a href="https://www.ust.hk/" target="_blank">HKUST</a>, advised by <a href="http://home.cse.ust.hk/~mxj/" target="_blank">Prof. Xiaojuan Ma</a>. He earned his B.S. from <a href="https://en.wikipedia.org/wiki/Hanyang_University" target="_blank">Hanyang University</a> on February 2018.</p>

      <p>His research in Human-Computer Interaction focuses on <b>Interpersonal Communication</b> and <b>Affective Computing</b>. He is interested in designing interactive systems that facilitate users representing their minds. He builds systems encouraging people more expressive and transparent for their own emotions in Human-Human Communication, to abate stresses and tensions in their everyday lives.</p>
      <br>
    </li>
  </div>
      <div class="post">
        <h1 id="posts-label">Latest News &amp; Travel</h1>
          <li>
            December, 2019: My undergraduate work has been accepted to a <a href="https://en.wikipedia.org/wiki/Scopus">SCOPUS</a> indexed journal <a href="http://www.apjis.or.kr/" target="_blank">APJIS</a>
          </li>
          <li>
            November, 2019: <a href="http://cscw.acm.org/2019/" target="_blank">CSCW 2019</a>, Austin, Texas, USA
          </li>
   		  <li>
            November 6, 2019: Invited talk at <a href="https://en.wikipedia.org/wiki/University_of_Seoul" target="_blank">University of Seoul</a>, Seoul, Republic of Korea
          </li>
          <li>
            October 28, 2019: Invited <a href="https://www.cse.ust.hk/pg/seminars/F19/kim.html" target="_blank">talk</a> at HKUST, Hong Kong SAR
          </li>
          <details>
          <summary><i id="moreless">More/Less News</i></summary>
          <li>
            August, 2019: <a href="../assets/CSCW_Lily.pdf" target="_blank"><i>Love in Lyrics</i></a> has been accepted to <a href="http://cscw.acm.org/2019/" target="_blank">CSCW 2019</a>. See you &#64; Austin!
          </li>
          <li>
            August, 2019: Co-authored poster <a href="../assets/CSCW_GremoBot.pdf" target="_blank"><i>GremoBot</i></a> has been accepted to <a href="http://cscw.acm.org/2019/" target="_blank">CSCW 2019</a>. See you &#64; Austin!
          </li>
          <li>
            May, 2019: <a href="https://chi2019.acm.org/" target="_blank">CHI 2019</a>, Glasgow, Scotland, UK
          </li>
          <li>
            November, 2018: <a href="http://cscw.acm.org/2018/" target="_blank">CSCW 2018</a>, Jersey City, New Jersey, USA
          </li>          
          </details>
          <br>
      </div>

  <div class="post">
    <li>
      <h1 id="posts-label">Publications</h1>
        <h3>Conferences and Journal Papers</h3>
        <li>

          <p>[c.3] <a href="../assets/CSCW_Lily.pdf" target="_blank">Love in Lyrics: An Exploration of Supporting Textual Manifestation of Affection in Social Messaging</a><br><b><u>Taewook Kim</u></b>, Jungsoo Lee, Zhenhui Peng, and Xiaojuan Ma<br>
          <i>CSCW 2019.</i> | <a href="https://doi.org/10.1145/3359181" target="_blank">ACM DL</a> | <a href="../assets/CSCW_Lily_BibTex.txt" target="_blank">BibTeX</a> | <a href="../cscw2019/2019/09/23/lily.html">Project Website</a>
          </p>

          <p>[c.2] <a href="../assets/CHI_UI.pdf" target="_blank">Understanding and Modeling User-Perceived Brand Personality from Mobile Application UIs</a><br>Ziming Wu, <b><u>Taewook Kim</u></b>, Quan Li, and Xiaojuan Ma<br>
          <i>CHI 2019.</i> | <a href="https://doi.org/10.1145/3290605.3300443" target="_blank">ACM DL</a> | <a href="../assets/CHI_UI_BibTex.txt" target="_blank">BibTeX</a>
          </p>

          <p>[c.1] <a href="../assets/CSCW_IFIL.pdf" target="_blank">Mediating Color Filter Exploration with Color Theme Semantics Derived from Social Curation assets</a><br>Ziming Wu, Zhida Sun, <b><u>Taewook Kim</u></b>, Manuele Reani, Caroline Jay, and Xiaojuan Ma<br>
          <i>CSCW 2018.</i> | <a href="https://doi.org/10.1145/3274456" target="_blank">ACM DL</a> | <a href="../assets/CSCW_IFIL_BibTex.txt" target="_blank">BibTeX</a>
          </p>
          
          <p>[j.1] <a href="">Multidimensional Analysis of Consumers' Opinion from Online Product Reviews</a><br><b><u>Taewook Kim</u></b>, Dong Sung Kim, Donghyun Kim, Jong Woo Kim<br>
          <i>Asia Pacific Journal of Information Systems (Scopus indexed)</i> | <i>(in press)</i>
          </p>


        </li>
        
        <h3>Poster Papers</h3>

        <p>[p.1] <a href="../assets/CSCW_GremoBot.pdf" target="_blank">GremoBot: Exploring Emotion Regulation in Group Chat</a><br> Zhenhui Peng, <b><u>Taewook Kim</u></b>, and Xiaojuan Ma<br><i>CSCW 2019.</i> | <a href="https://doi.org/10.1145/3311957.3359472" target="_blank">ACM DL</a> 
        </p>
        <br>

    </li>
  </div>
  <div class="post">
    <li>
      <h1 id="posts-label">Academic Service</h1>
        <b>Peer Review</b>
          <li>
            <a href="https://chi2019.acm.org/" target="_blank">CHI 2019</a>
          </li><br>
    </li>

<!-- 
  </div>
  {%- for post in site.posts -%}
  <li>
    {%- assign date_format = site.plainwhite.date_format | default: "%b %-d, %Y" -%}
    <a class="post-link" href="{{ post.url | relative_url }}">
      <h2 class="post-title">{{ post.title | escape }}</h2>
    </a>
    <div class="post-meta">
      <ul class="post-categories">
        {%- for tag in post.categories -%}
        <li>{{ tag }}</li>
        {%- endfor -%}
      </ul>
      <div class="post-date"><i class="icon-calendar"></i>{{ post.date | date: date_format }}</div>
    </div>
    <div class="post">
      {%- if site.show_excerpts -%}
      {{ post.excerpt }}
      {%- endif -%}
    </div>
  </li>
  {%- endfor -%}
</ul> -->

<!-- <p class="feed-subscribe"><svg class="svg-icon orange">
		<use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use>
	</svg><a href="{{ "/feed.xml" | relative_url }}">Subscribe</a></p> -->
{%- endif -%}